.card-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 1.5rem;

  .item-card {
      display: inline-block;
      width: 16rem !important;
      max-width: 16rem !important;
      min-width: 16rem !important;
      margin-right: 1rem;
      margin-left: 1rem;
  }
}